html,
body {
  min-height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: disabled;
  overflow-x: disabled;
  font-family: Nunito, Roboto, sans-serif;
}

.jspsych-display-element {
  background-color: #fffefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.jspsych-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

.jspsych-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  gap: 5px;
}
#thermometer {
  width: 200px;
  height: 400px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
}

#mercury {
  width: 100%;
  height: 0;
  background-color: red;
  position: absolute;
  bottom: 0;
  transition: height 0.1s linear;
}

#jspsych-progressbar-container {
  color: #fff;
  border-bottom: 1px solid #444;
  background-color: #141414;
  margin-bottom: 1em;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
  line-height: 1em;
}
#jspsych-progressbar-container span {
  font-size: 14px;
  padding-right: 14px;
}
#jspsych-progressbar-outer {
  background-color: #a2a2a2;
  width: 50%;
  margin: auto;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#jspsych-progressbar-inner {
  background-color: #4a4a4a;
  width: 0%;
  height: 100%;
}

.bar {
  background: silver;
  border-radius: 30px;
  margin: 0 0 10px;
  width: 100%;
  height: 2px;
  overflow: hidden;
  position: relative;
}

.progress {
  background: #568259;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.1s;
}

.percentage {
  font-size: 12px;
}

.percentage:after {
  content: '%';
}

.hg-activeButton {
  background-color: blue;
}

#clock {
  display: block; /* Ensure it is displayed as a block element */
  font-size: 2em; /* Make the font size larger */
  margin-top: 10px; /* Add some space above the clock */
}

.custom-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(5px);
}
.hg-activeButton {
  background: #008000 !important;
}

ol {
  list-style-position: inside;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: inline-block;
}
ol li {
  text-align: left;
}

ul.warning {
  list-style: none; /* Remove the default bullets */
  list-style-position: inside;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: inline-block;
}

ul.warning li {
  text-align: center;
  color: red;
  position: relative;
  padding-left: 1.5em; /* Add space for the emoji */
}

ul.warning li::before {
  content: '⚠️'; /* Emoji as the bullet point */
  position: absolute;
  left: 0;
}

ul {
  list-style-position: inside;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  display: inline-block;
}
ul li {
  text-align: center;
}

.right-arrow {
  fill: green;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
.left-arrow {
  fill: red;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.jspsych-btn {
  background-color: #000;
  color: white;
  border: none;
  padding: 5px;
  font-size: 1rem;
  padding: 6px 16px;
  line-height: 1.75;
  min-width: 64px;
  border-radius: 4px;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  text-transform: capitalize;
  text-align: center;
}
